*{

        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
    }
    #txt{
        background-color: yellow;
        text-align: center;
        
    }
    #outer{
      font-size: 25px;;
    }
    #inner{
        font-size: 10px;
    }
    