/* ----------------THIS IS FLEX CONTAINER  IN CSS --------------------*/
/* chapter 6  * float property 
               flexboc ?
               flex model
               flex direction
               its properties 
               flex continer and items 
               grid layout 
               media quieries */

/* *{
    margin:0;
    padding:0;
}
.box{
    height: 70px;
    width: 70px;
    border: 3px solid black;
    margin: 20px;
    margin-right: 5px;
    /* flex-grow: 1; */
}
#heading{
    text-align: center;
}
#container{
    height:600px;
    width: 600px;
    padding :10px;
    margin : 10px;
    border : 3px solid;
    background-color: rgb(205, 238, 205);
    display: flex;
    /* flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */ 
    justify-content: center;
    /* align-items: center; */
 
}
#boox1 {
    background-color: red;
    order: 2;
}

#boox2 {
    background-color: rgb(64, 255, 0);
    /* flex-grow:2; */
    /* flex-shrink: 0 */
    /* align-self: flex-start; */
    order: 3;
}

#boox3 {
    background-color: rgb(166, 0, 255);
    order: 1;
}

#boox4 {
    background-color: rgb(210, 13, 13);
    order: 4;
} */
/* ------------------the Grid------------------------ */
*{
    margin:0;
    padding:0;
}
.box{
    height: 70px;
    width: 70px;
    border: 3px solid black;
    margin: 20px;
    margin-right: 5px;
}
#heading{
    text-align: center;
}
#container{
    height:600px;
    width: 600px;
    padding :10px;
    margin : 10px;
    border : 5px solid;
    background-color: rgb(205, 238, 205);
    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px;
}
#boox1 {
    grid-row: 1/2;
    grid-column:  1/2;
    background-color: red;

}

#boox2 {
    background-color: rgb(64, 255, 0);
    grid-row:1 /2;
    grid-column: 2 /2;
}

#boox3 {
    background-color: rgb(166, 0, 255);
    grid-row:2 /2;
    grid-column: 1 /2;
}

#boox4 {
    background-color: rgb(210, 13, 13);
    grid-row: /2;
    grid-column:  2/2;
}