body{
    font-family: Arial;
}
#main-heading{
    text-align: center;
}



.grid-contanier{
    display : grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top : 10px;
    align-items: center;
}
#todo-input,#todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
 .btn-delete{
    background-color: rgb(118, 153, 135);
    color: rgb(8, 24, 31);
    border: none;
    border-radius: 10px;
    padding:15px 0px;
    cursor: pointer;
}
.btn-todo{
     background-color: rgb(78, 82, 176);
    color: rgb(8, 24, 31);
    border: none;
    border-radius: 10px;
    padding:15px 0px;
    cursor: pointer;
}
  .btn-todo:hover{
 background-color: rgb(59, 65, 233);
  }
  .btn-delete:hover{
    background-color: rgb(90, 118, 104);
  }