#Calculater{
    border:3px solid rgb(38, 34, 34);
    border-radius: 10px;
    width:200px;
    background-color: rgb(221, 215, 210);
    align-items: center;
}
#display{
  margin: 10px ;
  height: 20px;
  width: 85%;
  border-radius: 6px;
  border: 2px solid black;
}
#display:hover{
    margin: px ;
  width: 83%;
}
.button{
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
    
}
.button:hover{
    background-color: rgb(158, 214, 189);
    height: 48px;
    width: 48px;
}
.button:active{
    background-color: rgba(93, 79, 63, 0.293);
}
.button_container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
